<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title text-center> {{ sensor.sensortype.displayname}} verwalten</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>

  <form [formGroup]="sensorEditForm" (onSubmit)="saveWeekplan()">
    <ion-list>

      <ion-item>
        <ion-label *ngIf="sensor.ison" >{{ sensor.sensortype.displayname}} an</ion-label>
        <ion-label *ngIf="!sensor.ison" >{{ sensor.sensortype.displayname}} aus</ion-label>
        <!-- <ion-toggle name="ison" formControlName="ison"></ion-toggle> -->
      </ion-item>

      <ion-item>
        <ion-label >{{ sensor.sensortype.displayname}} einschalten</ion-label>

        <ion-toggle formControlName="isturnon"></ion-toggle>
      </ion-item>

      <ion-item *ngIf="sensor.sensortype.typename !== 'power' " >
        <ion-label>{{ sensor.sensortype.displayname}} Sollwert</ion-label>
        <ion-input formControlName="sensorsetvalue"></ion-input>
      </ion-item>

      <ion-item formGroupName="sensorvalue">
        <ion-label>{{ sensor.sensortype.displayname}} aktueller Wert</ion-label>
        <ion-input formControlName="datetime"></ion-input>
        <ion-input formControlName="value"></ion-input>
      
      </ion-item>

      <ion-item>
        <ion-label>{{sensor.sensortype.displayname }} aufzeichnen</ion-label>
        <ion-toggle formControlName="islog"></ion-toggle>
      </ion-item>

      <ion-item>
        <ion-label>Mit Zeitplan</ion-label>
        <ion-toggle formControlName="isweekplan"></ion-toggle>
      </ion-item>

      <ion-item *ngIf="sensor.isweekplan" >
        <ion-label>Wiederholen</ion-label>
        <ion-select  formControlName="scheduletype">
          <ion-option value="daily">Täglich</ion-option>
          <ion-option value="weekly">Wöchentlich</ion-option>
        </ion-select>
      </ion-item>

    </ion-list>

    <div formGroupName="weekplan" *ngIf="sensor.isweekplan" >

      <button ion-button (click)="addDayplan()">Add Dayplan</button>
      
      <ion-card formArrayName="dayplans" *ngFor="let starttimeControl of dayplanFormArray.controls; let i = index">
        <div [formGroupName]="i">
          <ion-list>
            <ion-item>
              <ion-label>Day</ion-label>
              <ion-input type="text" formControlName="day"></ion-input>
            </ion-item>

            <ion-item>
              <ion-label>Startzeit</ion-label>
              <ion-datetime displayFormat="HH:mm" formControlName="setstarttime"></ion-datetime>
            </ion-item>

            <ion-item>
              <ion-label>Startzeit</ion-label>
              <ion-datetime displayFormat="HH:mm" formControlName="setendtime"></ion-datetime>
            </ion-item>
          </ion-list>

          </div><!--- formGroupName="i" -->

        </ion-card>
        <!--- formArrayName="dayplans" -->


    </div>
    <!--- formGroupName="weekplan" -->




    <button ion-button (click)="saveWeekplan()">Save Weekplan</button>
  </form>

  {{sensorEditForm.value | json }}
</ion-content>