<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{sensortypename }} verwalten</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>

  <form [formGroup]="sensorEditForm" (onSubmit)="saveWeekplan()">
    <ion-list>

      <ion-item>
        <ion-label>{{ sensor.sensortype.displayname}} ist eingeschaltet</ion-label>
        <ion-toggle name="ison" formControlName="ison"></ion-toggle>
      </ion-item>

      <ion-item>
        <ion-label>{{ sensor.sensortype.displayname}} Sollwert</ion-label>
        <ion-input name="sensorsetvalue" formControlName="sensorsetvalue"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>Werte aufzeichnen</ion-label>
        <ion-toggle name="islog" formControlName="islog"></ion-toggle>
      </ion-item>

      <ion-item>
        <ion-label>Mit Zeitplan</ion-label>
        <ion-toggle name="isweekplan" formControlName="isweekplan"></ion-toggle>
      </ion-item>

      <ion-item>
        <ion-label>Wiederholen</ion-label>
        <ion-select name="scheduletype" formControlName="scheduletype">
          <ion-option value="daily">Täglich</ion-option>
          <ion-option value="weekly">Wöchentlich</ion-option>
        </ion-select>
      </ion-item>


      <div formGroupName="weekplan">

        <ion-slides formGroupName="sensordays">

          <button ion-button (click)="addDayplan()">Add Dayplan</button>

          <ion-slide *ngFor="let sd of weekplan.sensordays" >
              {{ sd.day }}<ion-input type="text" formControlName="day" ></ion-input>
            <button ion-button (click)="onAddStarttime()">Add Starttime</button>
            
            
              <div formArrayName="dayplans" *ngFor="let starttimeControl of dayplanFormArray.controls; let i = index">
                  <div [formGroupName]="i">
                    <ion-item>
                      <ion-label>Startzeit</ion-label>
                      <ion-datetime displayFormat="HH:mm" [formControlName]="setstarttime"></ion-datetime>
                    </ion-item>
                    <ion-item>
                      <ion-label>Startzeit</ion-label>
                      <ion-datetime displayFormat="HH:mm" [formControlName]="setendtime"></ion-datetime>
                    </ion-item>
                  </div> <!--- formGroupName -->
              </div><!--- formArrayName -->
            
            <!--- formArrayName="dayplans" -->


          </ion-slide>
          <!--- formGroupName="sensordays" slide -->

        </ion-slides>

      </div>
      <!--- formGroupName="weekplan" -->

    </ion-list>


    <button ion-button (click)="saveWeekplan()">Save Weekplan</button>
  </form>

  {{sensorEditForm.value | json }}
</ion-content>