<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Gerät einstellen</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
 <ion-list>
    <ion-item item-start>
      <ion-label>Mit Zeitplan {{ sensor.isplan}}</ion-label>
    </ion-item>
    <ion-item item-start>
      <ion-label>Wiederholen {{ sensor.scheduletype}}</ion-label>
    </ion-item>
  </ion-list>
   
 <ion-slides pager >
    <ion-slide *ngFor="let d of sensor.weekplan.days">
      <ion-fab right >
        <button ion-fab color="primary" (click)="addDayplan()">
          <ion-icon name="add"></ion-icon>
        </button>
      </ion-fab>
      {{ d.day }}
      <ion-grid>
        <ion-row *ngFor="let dp of d.dayplan">
          <pre></pre>
            <ion-col width-50>
              <ion-item>
                {{ dp.setstarttime }}
              </ion-item>
            </ion-col>
            <ion-col width-50>
                <ion-item>
                  {{dp.setendtime }}
                  </ion-item>
            </ion-col>
          
        </ion-row>
      </ion-grid>
    </ion-slide>
  </ion-slides>




</ion-content>