<ion-header>
    <h2>{{ displayname }}</h2>
</ion-header>

<ion-content>
    <form [formGroup]="weekplanForm">


        <!-- plandatetime: FormControl -->
        <ion-item>
            <ion-label>Plan Date and Time</ion-label>
            <ion-datetime formControlName="plandatetime" value="09.12.2017 14:00:00"></ion-datetime>
        </ion-item>

        <!-- planname: FormControl -->
        <ion-item>
            <ion-label>Plan Name</ion-label>
            <ion-input type="text" formControlName="planname"></ion-input>
        </ion-item>
        <!-- sensortypename: FormControl -->
        <ion-input type="text" formControlName="sensortypename"></ion-input>

        <!-- setvalue: FormControl -->
        <ion-item>
            <ion-label>Sollwert</ion-label>
            <ion-input type="number" formControlName="setvalue"></ion-input>
        </ion-item>

        <div formGroupName="offset">
            <!-- minutes: number;                              // how many minutes to offset -->
            <ion-item>
                <ion-label>Offset in Minutes</ion-label>
                <ion-input type="number" formControlName="minutes"></ion-input>
            </ion-item>

            <ion-item>
                <ion-label>Is Random</ion-label>
                <ion-toggle formControlName="israndom"></ion-toggle>
            </ion-item>

            <!-- offsettype: number;                         // +1 : + minutes , -1: - minutes from settimetype  -->
            <ion-item>
                <ion-label>Offset add (1) or subtract Offset (-1)</ion-label>
                <ion-input type="number" formControlName="offsettype"></ion-input>
            </ion-item>

            <!-- settimetype: string;                                 // 'starttime' or 'endtime' -->
            <ion-item>
                <ion-label>Apply Offset to Start or End</ion-label>
                <ion-input type="text" formControlName="settimetype"></ion-input>
            </ion-item>
        </div>
        <!-- offset: FormGroup //  Offset Type describes the offset values -->


        <!-- sensordays: FormGroup -->


        <button ion-button (click)="addDayplan()">Add Dayplan</button>
        <ion-card *ngFor="let sd of weekplan.sensordays">
            <!-- day: FormControl -->
            <!-- dayplans: FormArray    {setstarttime, setendtime, starttime, endtime} -->
            <div *ngFor="let dayplan of dayplansFormArray.controls; let i = index;" formArrayName="dayplans">
                <!-- starttime:  string;                         // 12:30 -->
                <div [formGroupName]="i">
                    <ion-item>
                        <ion-label>Day</ion-label>
                        <ion-select formControlName="day">
                            <ion-option value="Mo">Montag</ion-option>
                            <ion-option value="Di">Dienstag</ion-option>
                            <ion-option value="Mi">Mittwoch</ion-option>
                            <ion-option value="Do">Donnerstag</ion-option>
                            <ion-option value="Fr">Freitag</ion-option>
                            <ion-option value="Sa">Samstag</ion-option>
                            <ion-option value="So">Sonntag</ion-option>
                        </ion-select>
                    </ion-item>
                    <ion-item>
                        <ion-label>Start Time</ion-label>
                        <ion-datetime displayFormat="HH:mm" formControlName="setstarttime"></ion-datetime>
                    </ion-item>

                    <!-- endtime: string;                             // 20:45 -->
                    <ion-item>
                        <ion-label>End Time</ion-label>
                        <ion-datetime displayFormat="HH:mm" formControlName="setendtime"></ion-datetime>
                    </ion-item>
                </div>
                <!--- formGroupName = "i" -->
            </div>
            <!--- formArrayName="dayplans" -->
        </ion-card>


    </form>
    {{weekplanForm.value | json }}
</ion-content>