<form [formGroup]="weekplanForm">


    <!-- plandatetime: FormControl -->
    <ion-datetime formControlName="plandatetime"></ion-datetime>

    <!-- planname: FormControl -->
    <ion-input type="text" formControlName="planname"></ion-input>
    
    <!-- sensortypename: FormControl -->
    <ion-input type="text" formControlName="sensortypename"></ion-input>

    <!-- setvalue: FormControl -->
    <ion-input type="number" formControlName="setvalue"></ion-input>

  <div formGroupName="offset">
      <!-- minutes: number;                              // how many minutes to offset -->
      <ion-input type="number" formControlName="minutes"></ion-input>

      <!-- israndom: boolean;                         // fixed starttime and endtime or random starttime and endtime -->
      <!-- <ion-toggle formControlName="israndom"></ion-toggle> -->

      <!-- offsettype: number;                         // +1 : + minutes , -1: - minutes from settimetype  -->
      <ion-input type="number" formControlName="offsettype"></ion-input>
      
      <!-- settimetype: string;                                 // 'starttime' or 'endtime' -->
      <ion-input type="text" formControlName="settimetype"></ion-input>

  </div>
            <!-- offset: FormGroup //  Offset Type describes the offset values -->
  
    
    <!-- sensordays: FormGroup -->
    <ion-slides formGroupName="sensordays">

      <ion-slide *ngFor="let sd of weekplan.sensordays" formGroupName="sensorday">
          <!-- day: FormControl -->
        <ion-input formControlName="day"></ion-input>

        <!-- dayplans: FormArray    {setstarttime, setendtime, starttime, endtime} -->
        <div *ngFor="let dayplan of dayplansFormArray.controls; let i = index;" formArrayName="dayplans" >
            <!-- starttime:  string;                         // 12:30 -->
            <ion-datetime displayFormat="HH:mm" [formControlName]="i"></ion-datetime>
            
            <!-- endtime: string;                             // 20:45 -->
            <ion-datetime displayFormat="HH:mm" [formControlName]="i"></ion-datetime>
        </div>
      </ion-slide>
      
    
  </ion-slides><!---formGroupName="sensordays"  -->

  
</form>
{{weekplanForm.value | json }}