<ion-header>
  <h3 text-center>Zeitplan für {{ displayname }}</h3>
  <button ion-button menuToggle>
    <ion-icon name="menu"></ion-icon>
  </button>
</ion-header>

<ion-content>

  <ion-slides pager>
    <ion-slide *ngFor="let d of weekplan.days">
<form>
  
  <ion-grid>

    <ion-row><!--- Grid Title row with add button -->
      <ion-col width-70>
        <h3 text-right>{{ d.day }}</h3>
      </ion-col>
      <ion-col width-30>
        <ion-fab mini>
          <button ion-fab (click)="addPlantime()">
            <ion-icon name="add"></ion-icon>
          </button>
        </ion-fab>
      </ion-col>
    </ion-row>

    <ion-row>
      <!--- grid header row  with col titles-->
      <ion-col width-50 text-center>
        <ion-label>Startzeit</ion-label>
      </ion-col>
      <ion-col width-50 text-center>
        <ion-label>Endzeit</ion-label>
      </ion-col>
    </ion-row>

    <ion-row *ngFor="let dp of d.dayplans">
      <!--- grid data rows  with col setstarttime and col setendtime-->
      <ion-col width-50>
        <ion-datetime name="setstarttime" displayFormat="HH:mm" [(ngModel)]="dp.setstarttime"></ion-datetime>
      </ion-col>
      <ion-col width-50>
        <ion-datetime name="setendtime" displayFormat="HH:mm" [(ngModel)]="dp.setendtime"></ion-datetime>
      </ion-col>
    </ion-row>

    <ion-row><!--- Grid Footer row with save button -->
      <ion-col width-70>
      </ion-col>
      <ion-col width-30>
        <ion-fab >
          <button type="submit" minis ion-fab (click)="savePlantime()">
            <ion-icon name="folder"></ion-icon>
          </button>
        </ion-fab>
      </ion-col>
    </ion-row>
  </ion-grid>

</form>

    </ion-slide>
  </ion-slides>

</ion-content>